body {
    /*background-color: #032f5d;*/
}
h1, h2, h3, h4, h5 {
    font-family: Grotesk;
}

strong {
    font-weight: bold;
}

.article__page__title {
    color: #262626;
    font-size: 56px;
    font-family: Grotesk;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.article__page__poster {
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 0 1px black;
    height: auto !important;
}

.article__page img {
    margin: 0 auto;
}

.article__content {
    padding-top: 40px;
    font-size: 22px;
    color: #262626;
}

.article__content p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article__content img {
    max-width: 100%;
    margin: 0 auto;
}

.article__content ul, .article__content ol {
    padding: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.article__content > :first-child {
    margin-top: 0;
}

.article__content > :last-child {
    margin-bottom: 10px;
}

.article__header {
    width: 100%;
    padding: 40px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Euclid;
    background-color: #f2f3f5;
    border: 1px solid rgba(0, 0, 0, .07);
    color: #919192;
    font-size: 22px;
}

.article__sub {
    display: block;

    margin: 0;
    padding: 0;
    /*height: 100px;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    font-family: Euclid;
    color: #919192;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 10px;
}

.article__sub li {
    list-style-type: none;
}

@media screen and (max-width:800px) {
    .article__page__title {
        font-size: 40px;
    }

    .article__content {
        font-size: 18px !important;
    }
}