body {
    /*background-color: #032f5d;*/
}
h1, h2, h3, h4, h5 {
    font-family: Grotesk;
}

strong {
    color: #e45847;
    font-weight: bold;
}

.article__page__title {
    color: #262626;
    font-size: 60px;
    font-family: Grotesk;
    text-align: center;
    /*margin-bottom: 40px;*/
    /*margin-top: 40px;*/
}

.article__page img {
    margin: 0 auto;
}

.article__content {
    /*padding: 40px;*/
    padding-top: 40px;
    font-size: 24px;
    color: #262626;
}

.article__content p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article__content img {
    max-width: 100%;
    margin: 0 auto;
}

.article__content ul, .article__content ol {
    padding: 40px;
}

.article__header {
    /*max-width: 950px;*/
    width: 100%;
    padding: 40px;
    margin-top: 40px;
    /*padding-top: 0px;*/
    /*width: 100%;*/
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Euclid;
    color: #919192;
    font-size: 22px;
    box-shadow: 0 4px 80px rgba(0,0,0,.12),0 .893452px 17.869px rgba(0,0,0,.042),0 .266004px 5.32008px rgba(0,0,0,.028);
}

.article__sub {
    display: block;

    margin: 0;
    padding: 0;
    /*height: 100px;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    font-family: Euclid;
    color: #919192;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 20px;
}

.article__sub li {
    list-style-type: none;
}

.article__header img {
    max-width: 100%;
}
