@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/roboto.ttf');
}

@font-face {
    font-family: 'Grotesk';
    src: url('/fonts/Grotesk/akzidenzgroteskpro_bold.ttf');
}

@font-face {
    font-family: 'Euclid';
    src: url('/fonts/Euclid/EuclidCircularA-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: Euclid;
    background-color: #232425;
}

* {
    box-sizing: border-box;
}

header section:nth-child(1), header section:nth-child(2) {
    background-color: #232425;
    border-bottom: 1px solid #404549;
}

header {
    width: 100%;
    font-size: 22px;
    position: relative;
}

.main__menu {
    color: white;
}

.phone {
    margin-left: 24px;
    color: #919192 !important;
}

.bold {
    font-family: Grotesk;
    color: white;
}

.header__menu {
    color: white;
    border-top: 1px solid #404549;
    gap: 90px;
    height: 65px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    margin: 0 auto;
    max-width: 1510px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.main__slider {
    display: none;
    height: 90px;
    background-color: #232425;
    border-bottom: 1px solid #404549;;
}

.slide__img {
    width: 74%;
    height: 100%;
    margin-left: auto;
}

.slide__img img {
    width: 100%;
    height: 100%;
    display: block;
}

.logo {
    color: white;
    font-family: Grotesk;
    font-size: 32px;
    text-decoration: none;
}

.lozung {
    color: #919192;
    margin-left: 20px;
}

/*

Проекты

*/

.projects__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 2600px;
    margin: 0 auto;
    background-color: white;
}

.project__item {
    width: calc(33% - 40px);
    background-color: #232425;
    border: 1px solid #404549;
    color: #919192;
    text-decoration: none;
    font-size: 18px;
    max-width: 580px;
    position: relative;
    z-index: 15;
}

.project__img__wrapper {
    overflow: hidden;
}

.project__item img {
    transition: all 0.2s ease-out;
}

.project__item:hover img {
    transform: scale(1.2);
}

.project__item__info {
    padding: 30px;
    padding-top: 0;

}

.project__item__info div {
    display: flex;
    border-bottom: 1px dotted #919192;
    margin-bottom: 10px;
}

.project__item__info div:last-child {
    margin-bottom: 0;
}

.project__item__info div span {
    margin-left: auto;
}

.project__price {
    width: 100%;
    height: 60px;
    font-family: Roboto;
    color: #e45847;
    justify-content: space-between !important;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
}

.show__more {
    text-align: center;
    margin-bottom: 6px;
}

.constructor__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.home__constructor {
    height: 80px;
    width: calc(100% - 12px);
    margin: 0 auto;
    /*background-color: #44474a;*/
    border-radius: 2px;
    box-shadow: 0 0 0.5px black;
    overflow: hidden;
    padding: 2px;
    margin-left: 6px;
    display: none;
}

.home__constructor .input__text {
    background-color: #F8F8F8;
    width: 50px;
    height: 10px;
    padding-left: 3px;
    border: none;
    outline: none;
    display: block;
}

.delimiter {
    width: 100%;
    background-color: #232425;
    margin-top: 40px;
}

.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 40px;
    padding-left: 40px;
}

.question__row {
    font-family: Roboto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #404549;
    max-width: 1300px;
    width: 100%;
    font-size: 34px;
}

.services {
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    max-width: 2200px;
    margin: 0 auto;
    align-items: inherit;
}
.service__block {
    width: 25%;
    min-height: 600px;
    background-color: #1b1c1d;
    border: 1px solid #404549;
    position: relative;
    overflow: hidden;
}

.service__block svg {
    position: absolute;
    top: calc(50% - 189px);
    left: calc(50% - 103px);
}

.service__block h2 {
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.service__block p {
    padding: 40px;
    color: #919192;
    font-size: 18px;
}

.lottie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.button {
    background: #404549;
    border: 2px solid #e45847;
    color: white;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    position: relative;
    z-index: 100;
}

.button:hover {
    cursor: pointer;
}

.camera__screens {
    gap: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.camera__screens img {
    width: 100%;
    display: block;
}

.home__animation {
    margin-bottom: -140px;
    margin-top: -120px;
    max-width: 864px;
    width: 100%;
}

.cameras {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 2600px;
    margin: 0 auto;
}

.cameras div {
    width: calc(50% - 60px);
    display: flex;
}

video {
    width: 100%;
}

/*

    Страница проекта

*/

.slider__item {
    max-width: 100%;
    width: 100%;
    display: block;
}

.black__ground {
    background-color: #232425;
    padding-bottom: 20px;
    /* min-height: 100vh; */
}

.project__header {
    color: #919192;
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.project__header h1 {
    font-size: 60px;
    font-family: Grotesk;
    margin:0;
    color: white;
}

.project__name {
    height: 220px;
    width: 100%;
    border-bottom: 1px solid #404549;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    font-family: Euclid;
}

.project__page__price {
    font-family: Grotesk;
    color: #e45847;
    font-size: 60px;
}

.project__subheader {
    font-family: Euclid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__pagination {
    margin-top: 20px;
    gap: 20px;
}

.slider__pagination div {
    width: 30px;
    height: 30px;
    background: #404549;
    /*border: 2px solid #232425;*/
}

.slider__pagination__active {
    border: 2px solid #e45847 !important;
}

.fix__right__margin {
    margin-right: 20px;
}

.article__page {
    max-width: 2600px;
    margin: 0 auto;
}

.articles__list {
    max-width: 2600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
}

.article__row {
    width: calc(33.33% - 27px);
    border: 1px solid #404549;
    background-color: #232425;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    position: relative;
}

.article__img__wrap {
    overflow: hidden;
}

.article__img__wrap img {
    transition: all 0.2s ease-out;
}

.article__row:hover .article__img__wrap {

}

.article__row:hover .article__img__wrap > img {
    transform: scale(1.3);
}

.article__row h2 {
    /*color: #e45847;*/
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    min-height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article__date {
    font-size: 16px;
    font-weight: normal;
    color: gray;
    /*position: absolute;*/
}

.article__row img {
    max-width: 100%;
    /*border: 1px solid gray;*/
    filter: brightness(80%);
    display: block;
    /*border-radius: 20px;*/
    /*box-shadow: 0 0 5px #e45847;*/
}

.article__img__wrap {
    padding: 15px;
    background-color: #1b1c1d;
    box-shadow: inset 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.article__description {
    padding: 40px 40px 0px 40px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__description p {
    font-size: 20px;
    margin: 0;
}

.article__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 18px;
}

.main__menu {
    display: none;
    position: relative;
    margin-top: -112px;
    z-index: 20;
}

.main__menu__open {
    display: block;
    top: 113px;
}

.main__menu ul {
    background-color: #e45847;
    margin: 0;
    padding: 0;
    width: 700px;
    margin: 0 auto;
    list-style-type: none;
}

.menu__tongue {
    background-color: black;
    width: 240px;
    margin: 0 auto;
    height: 25px;
}

@media screen and (max-width: 1280px) {
    .index__text {
        font-size: 20px !important;
    }
    .project__item {
        width: calc(50% - 40px);
    }

    .services {
        flex-wrap: wrap;
        gap: 40px;
        align-items: inherit;

    }

    .service__block {
        width: calc(50% - 20px);
        min-height: 0;
    }

    .home__animation {
        max-width: 400px;
        margin-top: -55px;
        margin-bottom: -80px;
    }
}

.main__header__row {
    position: relative;
    z-index: 22;
    width: 100%;
    border-bottom: 0 !important;
}

.header__menu {
        position: relative;
        z-index: 22;
}

@media screen and (max-width: 800px) {
    .main__header__row {
        height: 60px !important;
    }
    .logo {
        font-size: 26px;
    }
    .project__name {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .project__page__price {
        font-size: 30px;
    }
    .project__name div span {
        font-size: 18px;
    }

    .project__name div h1 {
        font-size: 40px;
    }
    .project__subheader {
        font-size: 18px;
    }
    .fix__right__margin {
        margin-right: 0;
    }

    .project__subheader span {
        display: flex;
        flex-direction: column;
    }
    .services {
        padding: 20px;
        gap: 20px;
        padding-bottom: 0;
    }
    .service__block {
        width: 100%;
        min-height: 0;
    }
    .project__item {
        width: 100%
    }

    .header__menu {
        display: none;
    }

    .projects__list {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .lozung {
        display: none;
    }

    header .grid .button {
        display: none;
    }

    .logo {
        margin-right: auto;
    }

    .phone {
        display: none;
        color: gray !important;
    }

    header section svg {
        display: none;
    }

    .cameras {
        flex-direction: column;
        gap: 20px;
    }

    .cameras div {
        width: calc(100% - 40px);
        display: flex;
    }

    .delimiter {
        margin-top: 20px;
    }

    .question__row {
        font-size: 22px;
    }
}
