@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/roboto.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #0c1220;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #222b3e;
    border-bottom: 0.1vh solid #404549;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    margin: 0 auto;
    /*max-width: 1550px;*/
    max-width: 160vh;
    height: 100%;
}

.main__slider {
    height: 90vh;
    background-color: #222b3e;
    border-bottom: 0.1vh solid #404549;
}

.slide__img {
    width: 74%;
    height: 100%;
    margin-left: auto;
    border-left: 0.1vh solid #404549;
}

.slide__img img {
    width: 100%;
    height: 100%;
    display: block;
}

.logo {
    color: white;
    font-size: 3.2vh;
    font-family: 'Roboto';
    margin-right: auto;
}

/*

Проэкты

*/

.projects__list {
    padding-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
    padding-bottom: 6vh;
}

.project__item {
    width: calc(33% - 6vh);
    height: 55vh;
    /*border-radius: 10px;*/
    background-color: #222b3e;
    border: 0.1vh solid #404549;
}

.show__more {
    text-align: center;
    margin-bottom: 6vh;
    font-size: 3vh;
}

.home__constructor {
    height: 60vh;
    width: calc(100% - 12vh);
    margin: 0 auto;
    background-color: gray;
    border-radius: 2vh;
    overflow: hidden;
}

.delimiter {
    height: 120vh;
    width: 100%;
    background-color: #222b3e;
}


/*@media screen and (max-width: 1000px) {*/
/*    .slide__img {*/
/*        display: none;*/
/*    }*/
/*}*/
