.swiper-slide {
    padding: 0 60px 0 60px;
}

.swiper-slide > img {
    width: 100% !important;
    display: block;
}

.swiper-pagination {
    position: relative;
    margin-top: 40px;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background: #404549;
    opacity: 1;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    border: 2px solid #e45847;
}

